* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; 
    color: black;
}


h1 { font-size: 21px; }

:root {
    --primary-color: #FFFBED;
    --secondary-color: black;

    --text-color: black;
    
    --desktop: 1;
    --vertical-grid-gaps: calc(24px * var(--desktop));
    --padding-page: calc(var(--desktop) * 7% + 5%);

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

@media (max-width: 640px) {
    :root {
        --desktop: 0;
    }
}