#contact-form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#contact-form>label {
    display: flex;
    flex-direction: column;

    width: 100%;
}

#contact-form>label.inline {
    flex-direction: row;
}

#contact-form>label>.input {
    margin-top: 15px;
    flex: 1;
}

#contact-form>label.inline>.input {
    margin-left: 15px;
    margin-top: 0;
}

textarea {
    resize: none;
}

.input {
    border: solid 1px black;
    padding: 1rem;
}

.split-view {
    display: flex;

    justify-content: center;
    align-items: center;


    column-gap: 2rem;
}

.split-view>* {
    flex: 1;
}