#footer {
    width: 100%;

    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer .logo {
    width: 45%;
    margin-bottom: 2rem;
}

#copyright-notice {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-col {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.footer-col *:first-child {
    text-align: center;
}

.footer-col a,.footer-col span {
    padding-top: 15px;
    padding-bottom: 15px;
}

.social {
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    column-gap: 25px;
}
