#header {
    background-image: var(--image);
    background-size: cover;

    border-radius: 17px;
    padding: 15px;

    display: flex;
    justify-content: end;

    min-height: 50vh;
}

#header-text {
    border-radius: 17px;
    padding: 15px;

    width: 35%;

    height: min-content;

    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);

    display: flex;
    flex-direction: column;
}

#header-text p {
    margin-top: 12px;
    margin-bottom: 12px;
    flex: 1;
}

@media (max-width: 640px) {
    #header-text {
        width: 100%;
    }

    #header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
