#nav {
    height: 60px;
    width: calc(100% - var(--padding-page) * 2);

    z-index: 999;

    background-color: var(--primary-color);
    box-shadow: #bfbcb2 0 0 31px;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;

    gap: var(--vertical-grid-gaps);
    padding-left: var(--padding-page);
    padding-right: var(--padding-page);

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}
#menu-toggle { display: none; }

.nav-link {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 60px;
}

#menu-toggle-button {
    display: none;

    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
    #nav {
        grid-template-columns: 1fr;
    }

    .nav-link {
        display: none;
    }

    #menu-toggle-button {
        display: grid;
    }

    #menu-toggle:checked ~ #nav .nav-link {
        display: flex;
    }

    #menu-toggle:checked ~ #nav {
        height: max-content;
    }

    #menu-toggle:checked ~ #nav #menu-toggle-button {
        transform: rotate(90deg);
    }
}

.logo-link {
    grid-column-start: 1;
    grid-column-end: 2;

    justify-content: left;
    display: flex;

    flex-direction: row;
}

.logo-link > a {
    display: flex;

    width: 100%;
    height: 100%;
}
