#chambres-index-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.chambre {
    padding: 1rem;
    border-radius: 17px;

    position: relative;
    overflow: hidden;
    display: flex;

    align-items: flex-end;
    color: white;

    height: 15rem;
    flex: 1;
    min-width: 10rem;
}

.chambre .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transform: none;
    transition: transform 0.5s;
    background-image:  linear-gradient(transparent, black 125%), var(--image);
}

.chambre:hover .bg {
    transform: scale(1.2);
}

#chambres-body {
    display: flex;
    flex-direction: column;
}
