.photo-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.photo-container>li {
    height: 300px;
    cursor: pointer;
    position: relative;

    flex-grow: 1;
    flex: 1 1 auto;
    list-style: none;
}

.photo-container>li>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.photo-container::after {
    content: "";
    flex-grow: 999;
}