#points {
    grid-column-start: 1;
    grid-column-end: -1;
}

.point {
    display: flex;

    gap: 25px;

    margin-bottom: 25px;
    flex-wrap: wrap;
}

.point:nth-child(2n) {
    flex-wrap: wrap-reverse;
}

.point-text {
    min-width: 250px;
    height: fit-content;
    flex: 1;
}

.point-text h2 {
    margin-bottom: 15px;
}

.point-image {
    border-radius: 17px;
    width: max(250px, 4em);
    flex: 1;
    align-self: center;
}
