#base {
    background-color: var(--primary-color);

    display: grid;
    gap: var(--vertical-grid-gaps);

    row-gap: 25px;

    width: calc(100% - var(--padding-page) * 2);

    padding-left: var(--padding-page);
    padding-right: var(--padding-page);

    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

.content {
    margin-top: 85px;
    grid-column-start: 1;
    grid-column-end: -1;
}

.logo {
    width: 100%;
    height: 100%;
}

.icon {
    width: 16px;
    height: 16px;
}

.title { margin-bottom: 1rem; }